dl { 
  padding-bottom: 2px; padding-top: 2px; 
}


#bcontent { 
  overflow: visible; 
}
#iurl { 
  width:81%; 
}
#http_method { 
  width: 80px; 
}
#tblrequest { 
  padding: 4px;  
}
#tblrequest {
  width: 100%;
}
#rbody {
  width: 100%;
}


.nesturi {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}
