dl { 
  padding-bottom: 2px; padding-top: 2px; 
}
textarea {
	border: 2px inset;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
}

#bcontent { 
  overflow: visible; 
}
#iurl { 
  width:81%; 
}
#http_method { 
  width: 80px; 
}
#tblrequest { 
  padding: 4px;  
  width: 100%;
}
#tblrequestd { 
  padding: 4px;  
  width: 100%;
}
#rbody {
  width: 100%;
}
#rheaders {
  width: 100%;
}


.nesturi {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

.rdatatext {
	width: 70%;
}

.content {
	display: none;
}
